.TabBar-primary-3rIQ9 {
  display: none;
}
.Flex-wrap-3EvBu {
  display: none;
}
.RTE-contentEditable-1Gad6 {
  z-index: 1;
  background: 0 0;
  border: 1px solid #32ae9d;
  min-height: 120px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  overflow-y: auto;
  width: 100%;
  padding: 10px 21px 54px;
  border-radius: 24px;
  /* font-style: unset; */
}

.toolbar {
  position: relative;
}

.RTE-toolbar-3drmR {
  background-color: var(--palette-common-white);
  border: none;
  margin-left: 22px;
  position: absolute;
  bottom: 1px;
  border-top: 1px solid #b9b9b9;
  background-color: var(--palette-common-white);
  width: 94%;
  padding: 0;
  z-index: 2;
  background-color: transparent !important;
  /* margin: 0 auto; */
  /* display: block; */
  /* left: 1%; */
  margin-right: 22px;
}
.Button-button-22QPS {
  padding-top: 14px;
  padding-bottom: 10px;
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
  &:focus {
    background-color: transparent;
  }
}
.Button-button-22QPS > i {
  margin-left: -25px;
}
.Icon-md-3ty5t {
  font-size: 22px;
  width: 58px;
  color: #134859;
  font-weight: 800;
  margin-left: -16px;
  &:focus {
    color: #fb8381;
  }
  &:hover {
    color: #fb8381;
  }
}

.RTE-placeholder-5COCg {
  margin: 10px 0 0 20px;
}

.HorizontalGutter-full-312OL {
  display: block;
  // justify-content: space-between;
  border-top: none !important;
}

.HorizontalGutter-half-wEIfh {
  flex-grow: 1;
}
.BaseButton-root-1kuYh {
  margin-bottom: 8px;
}
.Flex-directionColumn-1_vRR {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end !important;

  margin-left: 24px;
}
.Button-root-3Ap5v.Button-disabled-2iEkQ {
  margin-bottom: 7px;
  margin-left: 30px;
  background-color: #fb8381 !important;
  margin-left: 30px;
  border-radius: 50px;
  height: 50px;
  padding: 0;
  width: 137px;
  font-size: 20px;
}
.coral-createComment-submit {
  margin-bottom: 7px;
  margin-left: 30px;
  background-color: #fb8381 !important;
  margin-left: 30px;
  border-radius: 50px;
  height: 50px;
  padding: 0;
  width: 137px;
  font-size: 20px;
}
.Button-active-mAhng > .Icon-md-3ty5t {
  color: #fb8381;
  background-color: transparent;
}
.coral-stream.App-root-3Hk1g > main {
  width: 100%;
}
.Button-buttonReset-3HTbS {
  background-color: transparent !important;
  &:hover {
    color: #fb8381;
  }
}
.Tab-secondary-SAOuB.Tab-active-XrGkw{
  display: none;
}
.StreamContainer-tabBarRow-3T4QQ{
  border:none !important;
}
.Flex-directionRowReverse-3njUy {
  flex-direction: row;
  margin-top: -77px !important; 
}
.SelectField-select-2NBid {
  
  width: 242px;
  opacity: 0;
  border: none!important;
  z-index: -1;
  padding-bottom: 30px;
  margin-left: -30px;
  // background-color: transparent !important;

}
.Typography-bodyCopyBold-3qaFN{
  background-size: contain;
  background-image: url(../img/svg/Path.svg);
  color: transparent;
  font-size: 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 0px !important;
}
.Icon-sm-2_l4F{
  font-size: 20px;
  width: 14px;
  color: #134859;
  /* font-weight: bold; */
  width: 26px;
  & > span{
    display: none;
  }
}
.Tag-root-3j6T4{
  display: none;
}
.Typography-heading2-2tVtB{
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.coral-comment{
  width: 100%;
}
.Indent-root-2uv-q{
  width: 100%;
}
.coral-comment-editButton{
  border: none;
  font-size: 20px;
  font-family: 'Roboto';
  // font-weight: bold;
  color: #5F5F5F;
}

.coral-comment-content{
  margin-bottom: 0;
  // padding-bottom: 35px;
  border-bottom: 1px solid #B9B9B9;
}
.Typography-colorTextDark-2H0M- {
  /* color: var(--palette-text-dark); */
  color: #5F5F5F;
}
.Flex-directionRow-GquEB{
  align-items: flex-start;
}

.Indent-level1-3GgDX {
  border-left:none;
  padding-left: 145px !important;
}
  
.Indent-level2-3-UNp{
  border-left:none;
  padding-left: 145px !important;
  // margin-left: 30px !important;
}
.Indent-level3-1CdyG{
  border-left: none;
  padding-left: 145px !important;
  // margin-left: 60px !important;
}
.Button-root-3Ap5v>:last-child{
  display: none;
}
.Flex-alignCenter-1avOH{
  // display: block !important; 
}
.Flex-halfItemGutter-1GWGW{
  align-items: flex-start !important;
}
.Comment-subBar-1TO1F{
  // display: none;
}
.coral-comment-reportButton{
  padding-right: 0;
}
.coral-comment-reportButton > i{
  margin-right: 0;
  width: 24px;
}
.Icon-root-ZlBoK{
  display: block !important;
}
.icon-icon-3PuRl {
  
}
.SelectField-keyboardFocus-3P5pU:focus{
  outline-color: transparent;
  border-radius: 20px;
}
// .Icon-sm-2_l4F{
//   padding-right: 185px;
// }
.SelectField-afterWrapper-3BhXc > i{
  padding-right: 185px;
}

.ReplyTo-root-3u8me{
  background-color: transparent !important;
    border: none !important;
}
.Flex-flex-AOdKg{
  align-items: center;
  padding-top: 14px;
}
.Button-variantOutlined-sYoCV.Button-colorRegular-13F5P{
  border-radius: 20px;
}

.HorizontalGutter-spacing-4-2Neqv{
  margin-top: -77px !important;
}